/*========================================================
================== RESPONSIVE QUERIES===============*/

/*------------------------------------------------
1700
------------------------------------------------*/
@media (min-width: 1700px) {

}

/*------------------------------------------------
1699
------------------------------------------------*/
@media screen and (max-width: 1699px) {

}

/*------------------------------------------------
1600
------------------------------------------------*/
@media (min-width: 1600px) {

}

/*------------------------------------------------
1500
------------------------------------------------*/
@media screen and (max-width: 1500px) {
  html {
    font-size: 8px !important;
  }

}

/*------------------------------------------------
1400
------------------------------------------------*/
@media screen and (max-width: 1400px) {

}

/*------------------------------------------------
1200
------------------------------------------------*/
@media (min-width: 1200px) {

}

/*------------------------------------------------
1199
------------------------------------------------*/
@media (max-width: 1199px) {

}

/*------------------------------------------------
1059
------------------------------------------------*/
@media screen and (max-width: 1059px) {

}

/*------------------------------------------------
992
------------------------------------------------*/
@media (min-width: 992px) {

}

/*------------------------------------------------
991
------------------------------------------------*/
@media (max-width: 991px) {
  html {
    font-size: 7px !important;
  }
}

/*------------------------------------------------
768
------------------------------------------------*/
@media (min-width: 768px) {

}

/*------------------------------------------------
767
------------------------------------------------*/
@media (max-width: 767px) {

}

/*------------------------------------------------
600
------------------------------------------------*/
@media (max-width: 600px) {

}

/*------------------------------------------------
554
------------------------------------------------*/
@media (max-width: 554px) {
}

/*------------------------------------------------
500
------------------------------------------------*/
@media (max-width: 500px) {

}

/*------------------------------------------------
479
------------------------------------------------*/
@media (max-width: 479px) {
	.section_login .at_form_holder {
		padding: 30px 15px;
	}
}

/*------------------------------------------------
375
------------------------------------------------*/
@media (max-width: 375px) {

}

/*------------------------------------------------
320
------------------------------------------------*/
@media (max-height: 479px) {

}






