@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?rd3try');
  src:  url('../fonts/icomoon.eot?rd3try#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rd3try') format('truetype'),
    url('../fonts/icomoon.woff?rd3try') format('woff'),
    url('../fonts/icomoon.svg?rd3try#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-audio:before {
  content: "\e901";
}
.icon-calculator:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-calendar-1:before {
  content: "\e904";
}
.icon-cancel:before {
  content: "\e905";
}
.icon-chapter:before {
  content: "\e906";
}
.icon-dashboard:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e908";
}
.icon-down-arrow:before {
  content: "\e909";
}
.icon-edit:before {
  content: "\e90a";
}
.icon-email:before {
  content: "\e90b";
}
.icon-id-card:before {
  content: "\e90c";
}
.icon-left-arrow:before {
  content: "\e90d";
}
.icon-location:before {
  content: "\e90e";
}
.icon-lock:before {
  content: "\e90f";
}
.icon-logout:before {
  content: "\e910";
}
.icon-master:before {
  content: "\e911";
}
.icon-play-button:before {
  content: "\e912";
}
.icon-play-button-1:before {
  content: "\e913";
}
.icon-raters:before {
  content: "\e914";
}
.icon-rating:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-star:before {
  content: "\e917";
}
.icon-student:before {
  content: "\e918";
}
.icon-sun:before {
  content: "\e919";
}
.icon-tick:before {
  content: "\e91a";
}
.icon-up-arrow:before {
  content: "\e91b";
}
.icon-upload:before {
  content: "\e91c";
}
.icon-user:before {
  content: "\e91d";
}
.icon-user-age:before {
  content: "\e91e";
}
